
	<section style="margin: auto;" class="justify-content-center align-items-center" style="text-align: center;">
	<div>
	  	<h1>Publicar historia</h1>
	  	<a href="#">Foto/video</a>
	  		
	  		<div>
	  			<textarea name="historia" rows="10" cols="40" ng-model="perfil.historia"></textarea> <br>
				<button class="btn btn-success" ng-click="publicar()">Publicar</button>
	  		</div>
	</div>
	</section>

<div>
 <h2>Historia</h2>
	<span><p style="border: solid 1px #FD2D1C; padding: 5px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor autem vel, cumque voluptatum, quas necessitatibus facere nesciunt, earum accusantium fugit excepturi! Esse iusto accusamus illum minima, doloremque nostrum. Aliquam, autem? <br>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius earum itaque mollitia repellendus porro maxime, perspiciatis facere eaque omnis vero similique quibusdam vel sunt molestias magni neque, cumque ipsa recusandae.</p></span>
</div>
<section>
	<h2>Imagen</h2>
		<div class="row">
			
	
				<figure class="col-xs-12 col-sm-4">
					<img src="images/Enjel.jpg" alt="Imagen" width="100%" height="auto">
				</figure>
		
				<figure class="col-xs-12 col-sm-4">
					<img src="images/images.jpg" alt="Imagen" width="100%" height="auto">
				</figure>
			
				<figure class="col-xs-12 col-sm-4">
					<img src="images/im.jpg" alt="Imagen" width="100%" height="auto">
				</figure>
			
		</div>
</section>

<!-- <div ng-repeat="perfil in perfiles"> -->
